{% extends 'core/base.html' %}
{% load static %}

{% block title %}About{% endblock %}
{% block background %}{% static 'core/img/about.jpg' %}{% endblock %}

{% block headers %}
<h1 class= display-4>Biografia</h1>
<span class="subheading">Apasionado de la tecnología, el software y el diseño.</span>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 offset-lg-1">
            <img class="img-fluid avatar" src="{% static 'core/img/avatar.jpg' %}" alt="">
        </div>
        <div class="col-lg-7 col-md-8">
            <h2 class="section-heading">Ever Ruiz Diaz</h2>
            <p>Hola, mi nombre es Ever, tengo 26 años, soy de Argentina pero vivo en Roma, Italia y 
                soy estudiante de software especializado en desarrollo 
                web con Django, un framework de Python. 
                <br><br>
                Siempre me capacito y estudió 
                las últimas tecnologías para llevar las mejores prácticas 
                posibles y actualmente por ello hago uso de Bootstrap 4 y 
                JQuery para mejorar y acelerar aspectos de diseño y experiencia de usuario.
                <br><br>
                Elegí desarrollar en Django por ser un framework de Python 
                muy potente para proyectos web complejos. También para mejorar 
                mi experiencia y adquirir practica en el lenguaje, por mi alto interes en Deep Learning y 
                Machine Learning.
                <br><br>
                Agradezco mucho tu tiempo, saludos!
            </p>
        </div>
    </div>
</div>
<hr>
{% endblock %}