{% extends 'core/base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}
{% block background %}{% static 'core/img/home.jpg' %}{% endblock %}

{% block headers %}
<h1 class= display-4>Contacto</h1>
<span class="subheading">Puedes dejarme un mensaje desde tu medio de contacto favorito.</span>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>Si hay algo que te ha gustado y te gustaría que trabajemos juntos en algún proyecto, no dudes en ponerte en contacto.</p>
            <p>Puedes hacerlo por Linkedin, Instagram o bien dejarme un mensaje a través de cualquiera de mis sitios o canales.</p>
            <br><br>
            <p><b>Teléfono:</b> +54 11 2669 6100</p>
            <p><b>Honorarios:</b> 50 U$S/h (precio base)</p>
        </div>
    </div>
</div>
<hr>
{% endblock %}.