{% extends 'core/base.html' %}
{% load static %}

{% block title %}Contact{% endblock %}
{% block background %}{% static 'core/img/home.jpg' %}{% endblock %}

{% block headers %}
<h1 class= display-4>Contact</h1>
<span class="subheading">If you want to go fast, go alone. If you want to go far, go together!</span>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>If you would like me to collaborate on any project or would like to do it with me on a new project, please do not hesitate to contact me.</p>
            <p>My interests are wide and I am ready and eager to learn and face new challenges... </p>
            <p>I am open and very interested in projects related to climate, pollution, data work etc with IT areas like Data Science, Deep Learning, Machine Learning, Django, etc.
            </p>
            <br><br>
            <p>You can contact me by Linkedin, Instagram or email.</p>
<!--        <p><b>Teléfono:</b> +54 11 2669 6100</p>
            <p><b>Honorarios:</b> 50 U$S/h (precio base)</p> -->
        </div>
    </div>
</div>
<hr>

{% endblock %}.