{% extends 'core/base.html' %}
{% load static %}




{% block title %}Home{% endblock %}

{% block background %}{% static 'core/img/contact.jpg' %}{% endblock %}

{% block headers %}
    <h1 class= display-4>Ever Ruiz Diaz</h1>
    <span class="subheading">Estudiante de Software, especializado en desarrollo web.</span>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            <p>
                Hola, bienvenido a mi portfolio, aca podras acceder a todos 
                mis proyectos terminados y en desarrollo, además de tener 
                acceso al código fuente de cada una para que podamos aportar 
                y colaborar con el código abierto. Tambien podes dejarme un 
                mensaje o sugerencia por cualquiera de mis canales.
            </p>
            <br>
            <div style="text-align: center;">
                <a target="blank" href="http://everdev.pythonanywhere.com/"><h1 class="display-4">Ligth</h1></a>
                <a target="blank" href="https://github.com/ruizdiazever/hannah"><h1 class="display-4">Hannah</h1></a>
                <a target="blank" href="{% static 'core/doc/ever.pdf' %}"><h1 class="display-4">Curriculum</h1></a>
                <a target="blank" href="https://github.com/ruizdiazever/android_rerum"><h1 class="display-4">Rerum by Android</h1></a>
            </div>
            <br>
        </div>
    </div>
</div> {% endblock %}

